@import "~bulma/sass/utilities/_all";

html.light-theme {
  background-color: $white-bis;
  .shepherd-element.shepherd-element-attached-bottom.shepherd-element-attached-center .shepherd-arrow,
  .shepherd-element.shepherd-pinned-top .shepherd-arrow {
    border-top: 15px solid whitesmoke !important;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }

  .shepherd-element.shepherd-element-attached-top.shepherd-element-attached-center .shepherd-arrow {
    border-bottom: 15px solid whitesmoke !important;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }

  .shepherd-element.shepherd-element-attached-middle.shepherd-element-attached-right .shepherd-arrow,
  .shepherd-element.shepherd-pinned-left .shepherd-arrow {
    border-left: 15px solid whitesmoke !important;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  .shepherd-element.shepherd-element-attached-middle.shepherd-element-attached-left .shepherd-arrow,
  .shepherd-element.shepherd-pinned-right .shepherd-arrow {
    border-right: 15px solid whitesmoke !important;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

body.light-theme {
  .icon:not(.is-icon-2rem) {
    svg {
      width: 1rem !important;
      height: 1rem !important;
    }
  }
  @import "~bulma";
  @import "~buefy/src/scss/buefy";
  $body-background-color: #F0F2F4 !important;
  background-color: $body-background-color;

  .copy {
    color: #24292e;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  }

  .table.has-mobile-cards, .table.has-table-cards {
    tr {
      background-color: $light !important;
    }
  }

  .custom-link-style.is-active, .custom-link-style.nuxt-link-active {
    color: $grey-dark;
  }

  .autocomplete {
    input::placeholder {
      color: $grey;
    }
  }
}

// Shepherd

.shepherd-header {
  @extend .modal-card-head;
  display: flex !important;
}
.shepherd-footer {
  @extend .modal-card-foot;
}
