div.modal-card(style="width: auto")
  header.modal-card-head
    p.modal-card-title {{$t('components.site_layout.day_night.Auto')}}
  section.modal-card-body
    b-field(:label="$t('components.site_layout.day_night.start_day')")
      b-timepicker(v-model="dayStart" inline)
    b-field(:label="$t('components.site_layout.day_night.start_night')")
      b-timepicker(v-model="nightStart" inline)
  footer.modal-card-foot
    button.button.is-danger(@click="resetNightDay()") {{$t('utils.Reset')}}
    button.button.is-primary(@click="$parent.close()") {{$t('utils.Confirm')}}/{{$t('utils.Close')}}
