div.content
  div.columns
    div.column.is-half
      div.field
        h3.title.is-3 {{$t(i18nPrefix + 'block_place.title')}}
    div.column.is-half(v-show="canPermalink")
      div.field
        nuxt-link#permalink.level-right(:to="permaLink" exact)
          span.icon
            i.fas.fa-link
          | &nbsp;{{$t('utils.permalink')}}

  div.columns
    div.column
      div.field
        p {{$t('utils.description.p1')}}
        p
          button.button.is-danger(@click.prevent="resetValues") {{$t('utils.Reset_values')}}

  div.columns
    div.column.is-half
      b-field(:label="$t(i18nPrefix + 'block_place.level_cost')" label-for="splevelCost" :type="haveError('levelCost')")
    div.column.is-half
      numberinput(controls-position="compact" :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" expanded min="0" v-model.number="levelCost" name="level-cost" id="splevelCost" autocomplete="off" :disabled="haveInputLevelCost()" :autofocus="canPermalink")
  div.columns
    div.column.is-half
      b-field(:label="$t(i18nPrefix + 'block_place.current_deposits')" label-for="spCurrentDeposits" :type="haveError('currentDeposits')")
    div.column.is-half
      numberinput(controls-position="compact" :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" expanded min="0" v-model.number="currentDeposits" name="current-deposits" id="spCurrentDeposits" autocomplete="off")

  div.columns
    div.column.is-half
      b-field(:label="$t(i18nPrefix + 'block_place.your_participation')" label-for="spYourParticipation" :type="haveError('yourParticipation')")
    div.column.is-half
      numberinput(controls-position="compact" :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" expanded min="0" v-model.number="yourParticipation" name="your-participation" id="spYourParticipation" autocomplete="off")
  div.columns
    div.column.is-half
      b-field(:label="$t(i18nPrefix + 'block_place.other_participation')" label-for="spOtherParticipation" :type="haveError('otherParticipation')")
    div.column.is-half
      numberinput(controls-position="compact" :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" expanded min="0" v-model.number="otherParticipation" name="other-participation" id="spOtherParticipation" autocomplete="off")

  div.columns
    div.column.is-half
      b-field(:label="$t(i18nPrefix + 'block_place.your_arc_bonus')" label-for="spYourArcBonus" :type="haveError('yourArcBonus')")
    div.column.is-half
      numberinput(controls-position="compact" :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" expanded min="0" v-model.number="yourArcBonus" step="0.1" name="your-arc-bonus" id="spYourArcBonus" autocomplete="off" :disabled="$props.canCustomYourArcBonus")
  div.columns
    template(v-if="haveInputLevelCost()")
      div.column.is-half
        b-field(:label="$t(i18nPrefix + 'block_place.target_reward')" label-for="fpTargetReward" :type="haveError('fpTargetReward')")
      div.column.is-half
        b-select#fpTargetReward(v-model="fpTargetReward" name="fp-target-reward" expanded)
          option(v-for="(place, i) in levelData.investment" :value="place.reward" :key="i" :id="'option_' + i" autocomplete="off") {{$t(i18nPrefix + 'block_place.place', { place: i + 1, count: place.reward })}}
    template(v-else)
      div.column.is-half
        b-field(:label="$t(i18nPrefix + 'block_place.fp_target_reward')" label-for="spFpTargetReward" :type="haveError('fpTargetReward')")
      div.column.is-half
        numberinput(controls-position="compact" :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" expanded min="0" v-model.number="fpTargetReward" step="5" name="fp-target-reward" id="spFpTargetReward" autocomplete="off")

  template(v-if="levelCost && getNumberOfRemainingPoints()")
    h4.title.is-4 {{$t('utils.Result')}}

    div.columns
      div.column.is-half
        p {{$t(i18nPrefix + 'block_place.fp_to_complete_level')}}
      div.column.is-half
        p
          b {{$formatNumber(getNumberOfRemainingPoints())}}
    div.columns
      div.column.is-half
        p {{$t(i18nPrefix + 'block_place.result.fp_need_to_lock_plural')}}
      div.column.is-half
        template(v-if="fp > 0")
          p(v-if="fp <= yourParticipation")
            span.icon.is-small(style="vertical-align: middle;")
              i.fas.fa-lock
          p(v-else)
            b {{$formatNumber(fp)}}
            template(v-if="((fp >= yourParticipation) && (fp - yourParticipation) > 0) && (yourParticipation > 0)")
              | &nbsp;(
              b-tooltip(:type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'block_place.result.still_to_put')" dashed)
                span {{$formatNumber(fp - yourParticipation)}}
              | )
            template(v-if="roi > 0")
              | &nbsp;(
              span.icon.is-small.has-text-success(style="vertical-align: middle;")
                i.fas.fa-arrow-up
              | {{$formatNumber(Math.abs(roi))}})
            template(v-else-if="roi === 0")
              | &nbsp;(
              span.icon.is-small(style="vertical-align: middle;")
                i.fas.fa-exchange-alt
              | )
            template(v-else)
              | &nbsp;(
              span.icon.is-small.has-text-danger(style="vertical-align: middle;")
                i.fas.fa-arrow-down
              | {{$formatNumber(Math.abs(roi))}})
        p(v-else) {{$t(i18nPrefix + 'block_place.result.cant_block')}}

  div.margin-top-one-em(v-show="(fp > 0) && (yourArcBonus >= 0) && (fpTargetReward > 0)")
    h5.title.is-5 {{$t(i18nPrefix + 'block_place.various_rate')}}
    div.columns(v-for="(value, index) in variousRate" v-show="value !== yourArcBonus" v-if="value.rate !== yourArcBonus")
      div.column.is-half
        p {{value.displayRate}}
      div.column.is-half
        template(v-if="value.result && value.result.fp !== null")
          p(v-if="value.result.roi > 0")
            b {{ $formatNumber(value.result.fp) }}
            | &nbsp;(
            span.icon.is-small.has-text-success(style="vertical-align: middle;")
              i.fas.fa-arrow-up
            | {{$formatNumber(Math.abs(value.result.roi))}})
          p(v-else-if="value.result.roi === 0")
            b {{$formatNumber(value.result.fp)}} (
            span.icon.is-small(style="vertical-align: middle;")
              i.fas.fa-exchange-alt
            | )
          p(v-else)
            b {{$formatNumber(value.result.fp)}}
            | &nbsp;(
            span.icon.is-small.has-text-danger(style="vertical-align: middle;")
              i.fas.fa-arrow-down
            | {{$formatNumber(Math.abs(value.result.roi))}})
