div
  h4.title.is-4 {{$t(i18nPrefix + 'title')}}

  div.columns(v-show="haveUnknownCosts")
    div.column
      b-message(:title="$t('utils.Information')" type="is-warning" has-icon) {{$t(i18nPrefix + 'message.haveUnknownCosts')}}

  div.columns
    div.column.is-half
      b-field#current-age-container(:label="$t('utils.choose_age')" label-for="current-age" :type="haveError('currentAge')")
        b-select#current-age(v-model="currentAge" name="current-age" expanded)
          option(v-for="age in ages" :value="age.key" :key="age.key" :selected="currentAge == age.key" :id="'option_' + age.key" autocomplete="off") {{$t('foe_data.age.' + age.key)}}

    div.column.is-half(v-if="!errors.currentAge && !errors.province")
      b-field(:label="$t(i18nPrefix + 'choose_province')" label-for="provinceContainer")
        b-select#provinceContainer(v-model="province" expanded)
          option(v-if="campaignCost !== null" v-for="value of sortProvinceArray(campaignCost, currentAge)" :key="value.key" :selected="province.key === value.key" :value="value") {{$t('foe_data.province.' + value.key)}}

  div.table-wrapper
    table.table.is-bordered.is-striped.is-narrow.is-fullwidth(v-if="(result !== null) && !errors.currentAge && !errors.province")
      thead
        tr
          th(:colspan="result.nbColumns + 2")
            p {{$t('foe_data.province.' + province.key)}}
        tr
          th(rowspan=2)
            p {{$t('utils.Rewards')}}
          th(rowspan=2)
            p {{$t('utils.Conquered')}}
          th(v-for="(value, age) in result.good" colspan=5)
            p {{$t('foe_data.age.' + age)}}
          th(v-for="value in result.specialGoodsColumnsData")
            p {{value.displayName}}
        tr
          th(v-for="value in result.goodsColumnsData")
            figure.image-inherit.image.is-24x24
              img(:src="'/img/foe/goods/' + value.key + '.png'" :alt="value.displayName" :title="value.displayName")
          th(v-for="value in result.specialGoodsColumnsData")
            figure.image-inherit.image.is-24x24
              img(:src="'/img/foe/special_goods/' + value.key + '.png'" :alt="value.displayName" :title="value.displayName")

      tbody
        tr(v-for="(sector, index) in province.sectors")
          td
            div.media(v-for="reward in sector.reward")
              div.media-left(v-if="reward.type !== 'good_bonus'" style="margin-right: 0em !important;")
                figure.image-inherit.image.is-24x24(style="margin-left: .5em !important; margin-right: 1em !important;")
                  img(:src="'/img/foe/bonus/' + reward.type + '.png'" :alt="$t('foe_data.bonus.' + reward.type + '.name')" :title="$t('foe_data.bonus.' + reward.type + '.name')")
              div.media-content
                p(v-if="reward.type === 'good_bonus'") {{$t('foe_data.bonus.good_bonus.name')}}
                p(v-else) {{$formatNumber(reward.value)}}
          td
            b-switch(:value="sectorConquired[index]" type="is-info" @input="switchConquired(index, $event)") {{sectorConquired[index] ? $t('utils.Yes') : $t('utils.No')}}

          td(v-for="value in result.goodsColumnsData")
            template(v-if="Object.keys(sector).indexOf('cost') >= 0")
              div(v-for="good in sector.cost")
                p(v-if="good.key === value.key")
                  s(v-if="sectorConquired[index]") {{$formatNumber(good.value)}}
                  span(v-else) {{$formatNumber(good.value)}}
            div(v-else)
              p ?

          td(v-for="value in result.specialGoodsColumnsData")
            template(v-if="Object.keys(sector).indexOf('cost') >= 0")
              div(v-for="good in sector.cost")
                p(v-if="good.key === value.key")
                  s(v-if="sectorConquired[index]") {{$formatNumber(good.value)}}
                  span(v-else) {{$formatNumber(good.value)}}
            div(v-else)
              p ?
      tfoot
        tr
          th
            template(v-for="reward in province.reward")
              div.media(v-if="reward.type !== 'good'")
                div.media-left(v-if="reward.type !== 'good_bonus'" style="margin-right: 0em !important;")
                  figure.image-inherit.image(style="margin-left: .5em !important; margin-right: 1em !important;" :class="reward.type !== 'pvp_tower' ? 'is-24x24' : 'is-30xauto'")
                    img(v-if="reward.type !== 'pvp_tower'" :src="'/img/foe/bonus/' + reward.type + '.png'" :alt="$t('foe_data.bonus.' + reward.type + '.name')" :title="$t('foe_data.bonus.' + reward.type + '.name')")
                    img(v-else :src="'/img/foe/bonus/' + currentAge + '_tower.png'" :alt="$t('foe_data.bonus.' + reward.type + '.name')" :title="$t('foe_data.bonus.' + reward.type + '.name')")
                div.media-content(:style="{ overflow: ((reward.type === 'good_bonus') && reward.age ? 'unset' : 'hidden') }")
                  p(v-if="reward.type === 'good_bonus'") {{$t('foe_data.bonus.good_bonus.name')}}
                    template(v-if="reward.age")
                      | &nbsp;
                      b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t('foe_data.age.' + reward.age)" dashed)
                        span {{$t('foe_data.age_short.' + reward.age)}}
                  p(v-else-if="reward.value && reward.value > 0") {{$formatNumber(reward.value)}}
              template(v-else)
                div.media(v-for="good in agesGoods[currentAge].goods" :key="good.key")
                  div.media-left(v-if="reward.type !== 'good_bonus'" style="margin-right: 0em !important;")
                    figure.image-inherit.image.is-24x24(style="margin-left: .5em !important; margin-right: 1em !important;")
                      img(:src="'/img/foe/goods/' + good.key + '.png'" :alt="$t('foe_data.goods.' + good.key)" :title="$t('foe_data.goods.' + good.key)")
                  div.media-content
                    p {{$formatNumber(reward.value)}}

          th
            p {{$t('utils.Total')}}

          th(v-for="value in result.goodsColumnsData")
            div(v-for="(valueAge) in result.good")
              div(v-for="(good, goodName) in valueAge")
                p(v-if="goodName === value.key") {{$formatNumber(good)}}

          th(v-for="value in result.specialGoodsColumnsData")
            div(v-for="(specialGood, key) in result.specialGoods")
              p(v-if="key === value.key") {{$formatNumber(specialGood)}}
