#app
  header
    nav.navbar.has-shadow(:class="{'is-fixed-top': $store.get('global/fixedMainMenu')}")
      div.navbar-brand
        nuxt-link.navbar-item(:to="{ name: 'Home' }")
          img(src="/img/icons/logo.png" alt="FOE-Tools logo" width="28" height="28")
        div.navbar-burger.burger(:class="{'is-active': burgerMenuVisible}" data-target="mainNavbar" @click="toggleMenu")
          span
          span
          span

      div#mainNavbar.navbar-menu(:class="{'is-active': burgerMenuVisible}")
        div.navbar-start
          template(v-for="value in mainMenu")
            template(v-if="value.children.length === 0")
              nuxt-link.navbar-item(:class="{'is-active': isActive(value.link)}" :to="{ name: value.link }" exact) {{value.name}}
            div.navbar-item.has-dropdown.is-hoverable(v-else :key="value.slug")
              nuxt-link.navbar-link(v-if="value.type.name === 'PAGE'" :class="{'is-active': isActive(value.link)}" :to="{ name: value.link }" exact) {{value.name}}
              a.navbar-link(v-else-if="value.type.name === 'MENU_ENTRY'" href="#") {{value.name}}
              div.navbar-dropdown.is-boxed
                template(v-for="child in value.children")
                  nuxt-link.navbar-item(v-if="child.type.name === 'PAGE'" :class="{'is-active': isActive(child.link)}" :to="{ name: child.link }" exact) {{child.name}}
                  hr.navbar-divider(v-else-if="child.type.name === 'SEPARATOR'")

        div.navbar-end
          div.navbar-item
            nuxt-link.custom-link-style(:class="{'is-active': isActive('HelpToTranslateTheSite')}" :to="{ name: 'HelpToTranslateTheSite' }" exact)
              span.icon.is-icon-2rem(style="vertical-align: middle;")
                i.fas.fa-language
              span(style="vertical-align: middle;") &nbsp;&nbsp;&nbsp;{{$t("main_menu.help_to_translate_the_site")}}
          div.navbar-item
            language-selector

          div.navbar-item
            div.field.is-grouped
              nuxt-link.button.donation(:to="{ name: 'Donate' }" exact)
                span {{$t('utils.Donate')}}

          div.navbar-item
            div.field
              b-tooltip.control.is-hidden-mobile(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t('components.site_layout.global_config')" position="is-bottom")
                button.button(@click="showGlobalSettings" :class="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'")
                  p.icon
                    i.fas.fa-cog
              button.button.is-hidden-desktop(@click="showGlobalSettings" :class="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'")
                p.icon
                  i.fas.fa-cog
                p {{$t('components.site_layout.global_config')}}

          div.navbar-item
            div.field.is-grouped
              a.button(href="https://github.com/FOE-Tools/FOE-Tools.github.io" target="_blank")
                span.icon
                  i.fab.fa-github

  .notices.is-top(v-if="showSnackbarChangeLocale")
    .snackbar.is-warning.is-top(style='')
      p.text {{$t('components.site_layout.switch_locale', { lng: detectedLocale })}}
      .action.is-success(@click="closeSnackbar()")
        button.button {{$t('utils.Ok', { lng: detectedLocale })}}
      .action.is-info(@click="switchLocale()")
        button.button {{$t('utils.Switch', { lng: detectedLocale })}}

  section.fixed(v-show="cookieDisclaimerUndisplayed")
    b-notification.is-radiusless.is-marginless.has-text-centered(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" closable @close="confirmInfoCookie" :active="cookieDisclaimerUndisplayed")
      div.has-text-centered  {{$t(i18nPrefix + 'cookie.message')}}
        |
        |
        nuxt-link(:to="{ name: 'About' }" exact) {{$t(i18nPrefix + 'cookie.link')}}
        | .

  section.hero.is-dark-blue
    div.hero-body
      div.container
        div.columns
          div.column.is-8-desktop.is-offset-2-desktop
            h1.title.is-2.is-spaced {{$t($store.get('hero@title'))}}
            h2.subtitle.is-4(v-html="$t($store.get('hero@subtitle'))")

  main.container.is-fullheight
    section.section
      div.container
        div.columns.is-centered.is-margin-top-one-em-touch(v-show="isNewYear")
          div.column.is-three-quarters
            b-notification.newYearNotification(:class="dayNightMode === 'day' ? 'is-dark' : 'is-light'") ðŸŽ‰&nbsp;&nbsp;{{$t(i18nPrefix + 'new_year.message', { count: nbYears })}}&nbsp;&nbsp;ðŸ°
        div.columns.is-centered.is-margin-top-one-em-touch(v-show="hasSurvey")
          div.column.is-three-quarters
            b-notification(type="is-info" :closable="false")
              nuxt-link(to="{ name: 'Survey' }") {{$t(i18nPrefix + 'survey.message')}}
        div.columns.is-centered.is-margin-top-one-em-touch(v-show="nbUpdateSinceLastVisit")
          div.column.is-three-quarters
            b-notification(type="is-info" :closable="true")
              p {{$t(i18nPrefix + 'update', { count: nbUpdateSinceLastVisit })}}
              nuxt-link(to="{ name: 'Changelog' }") {{$t(i18nPrefix + 'whats_new')}}
        div.columns.is-centered
          div.column.is-11-desktop.is-three-quarters-fullhd.is-three-quarters-widescreen.is-full-tablet
            div(v-if="(['Home', 'GbInvestmentChooser', 'GbInvestment', 'Contributors'].indexOf($route.name) >= 0) && !$route.params.gb")
              nuxt
            div.card.article(v-else)
              div.card-content
                div.content.article-body
                  div.columns(v-show="isConversionDate")
                    div.column
                      b-message(:title="$t('utils.Information')" type="is-info" has-icon @close="onCloseDonationMessage") {{this.$t("routes.donate.conversion")}}
                        p
                        p
                          nuxt-link.button.is-warning(:to="{ name: 'Donate' }" exact)
                            span {{$t('utils.Donate')}}
                  div.columns(v-show="isPermalink")
                    div.column
                      b-message(:title="$t('utils.Information')" type="is-warning" has-icon) {{$t(i18nPrefix + 'permalink_info')}}
                  nuxt

    span.button.scroll-to-top.is-rounded(:class="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" @click="backToTop")
      span.icon
        i.fas.fa-angle-double-up

  footer.footer.has-text-centered
    div.container
      div.columns
        div.column.is-8-desktop.is-offset-2-desktop
          nav.breadcrumb.has-dot-separator.is-centered.is-marginless(aria-label="breadcrumbs")
            ul
              li(v-for="footerLink in footerLinks" :class="{ 'is-active': isActive(footerLink.link) }")
                nuxt-link(:to="{ name: footerLink.link }" exact) {{$t('footer_menu.' + footerLink.key)}}
          p
            small(v-html="$t('components.site_layout.footer.license_html')")
          p {{$t('components.site_layout.footer.version', {version: siteVersion})}}
