div.modal-card(style="width: auto")
  header.modal-card-head
    p.modal-card-title {{$t('components.site_layout.global_config')}}
  section.modal-card-body
    yes-no(v-model="fixedMainMenu" :label="$t(i18nPrefix + 'fixed_main_menu')")

    b-field(:label="$t(i18nPrefix + 'select_gb_style')")
    b-field(v-for="(style, index) in gbSelectModes" :key="style.key")
      b-radio(:native-value="style.key" type="is-info" v-model="gbSelectMode") {{style.text}}

    b-field(:label="$t(i18nPrefix + 'day_night')")
    b-field(v-for="(style, index) in dayNightModes" :key="style.key")
      b-radio(:native-value="style.key" type="is-info" v-model="dayNightMode") {{style.text}}

    day-night(v-if="dayNightMode === 'auto'" @dayStartChange="$emit('dayStartChange')" @nightStartChange="$emit('nightStartChange')")

  footer.modal-card-foot
    button.button.is-danger(@click="resetSettings()") {{$t('utils.Reset')}}
    button.button.is-primary(@click="$parent.close()") {{$t('utils.Confirm')}}/{{$t('utils.Close')}}
