div.content
  div.columns
    div.column.is-half
      div.field
        h3.title.is-3 {{$t('foe_data.gb.' + gb.key)}}
      div.field
        gb-list-select(:current="gb.key" @change="goTo($event)")
    div.column.is-half(v-show="canPermalink")
      div.field
        nuxt-link#permalink.level-right(:to="permaLink" exact)
          span.icon
            i.fas.fa-link
          | &nbsp;{{$t('utils.permalink')}}

  h4.title.is-4 {{$t('routes.gb_investment_gb_chooser.hero.title')}}

  p {{$t($data.i18nPrefix + 'description.p1', { count: maxConsideration })}}

  p
    b {{$t($data.i18nPrefix + 'takingPlaceInConsideration.form.no')}}
    |  {{$t($data.i18nPrefix + 'takingPlaceInConsideration.description.no')}}

  p
    b {{$t($data.i18nPrefix + 'takingPlaceInConsideration.form.normal')}}
    |  {{$t($data.i18nPrefix + 'takingPlaceInConsideration.description.normal')}}

  p
    b {{$t($data.i18nPrefix + 'takingPlaceInConsideration.form.optimal')}}
    |  {{$t($data.i18nPrefix + 'takingPlaceInConsideration.description.optimal')}}

  div.columns
    div.column.is-half
      b-field(:label="$t('utils.From')" label-for="previsionFrom" :type="haveError('from')")
        b-input#previsionFrom(type="number" min="0" :max="to - 1" v-model.number="fromInput" name="previsionFrom" autocomplete="off")
    div.column.is-half
      b-field(:label="$t('utils.To', { max: maxLevel })" label-for="previsionTo" :type="haveError('to')")
        b-input#previsionTo(type="number" :min="from" :max="maxLevel" v-model.number="to" name="previsionTo" autocomplete="off")

  div.columns
    div.column.is-half
      b-field(:label="$t('components.secure_position.block_place.your_arc_bonus')" label-for="giiYourArcBonus" :type="haveError('yourArcBonus')")
        b-input#giiYourArcBonus(type="number" min="0" v-model.number="yourArcBonus" step="0.1" name="your-arc-bonus" autocomplete="off")

  div.columns(v-show="takingPlaceInConsideration === 2")
    div.column.is-half
      yes-no(v-model="customPercentage" :label="$t('components.gb_forecast_cost.custom_percentage')")

    div.column.is-half(v-show="!customPercentage")
      b-field(:label="$t('components.gb_investment.gb_investment.form.investor_percentage')" label-for="previsionInvestorPercentageGlobal" :type="haveError('investorPercentageGlobal')")
        b-input#previsionInvestorPercentageGlobal(type="number" min="0" step="0.1" v-model.number="investorPercentageGlobal" name="investorPercentageGlobal" autocomplete="off")

  div.table-wrapper(v-show="takingPlaceInConsideration === 2 && customPercentage")
    table.table.is-bordered.is-striped.is-narrow.is-fullwidth
      thead
        tr
          th {{$t('components.gb_investment.gb_investment.table.thead.th1')}}
          th {{$t('components.gb_investment.gb_investment.table.thead.th5')}}
      tbody
        tr(v-for="i in 5")
          td.has-text-right {{i}}
          td
            b-field(:type="haveError('investorPercentageCustom_' + i)")
              b-input(type="number" min="0" step="0.1" v-model.number="investorPercentageCustom[i - 1]" :name="'investorPercentageCustom_' + i" autocomplete="off")

  div.columns
    div.column.is-half
      b-field(:label="$t(i18nPrefix + 'takingPlaceInConsideration.label')" :type="haveError('takingPlaceInConsideration')")
      b-field
        div.control
          span.button.button-no(:class="{ 'is-danger is-selected' : takingPlaceInConsideration === 0, 'is-dark-light is-outlined': takingPlaceInConsideration !== 0 && this.$store.state.isDarkTheme  }" @click="takingPlaceInConsideration = 0" ref="button-no")
            span {{$t(i18nPrefix + "takingPlaceInConsideration.form.no")}}
        div.control
          span.button.button-normal(:class="{ 'is-info is-selected' : takingPlaceInConsideration === 1, 'is-dark-light is-outlined': takingPlaceInConsideration !== 1 && this.$store.state.isDarkTheme  }" @click="takingPlaceInConsideration = 1" ref="button-normal")
            span {{$t(i18nPrefix + "takingPlaceInConsideration.form.normal")}}
        div.control
          span.button.button-optimal(:class="{ 'is-success is-selected' : takingPlaceInConsideration === 2, 'is-dark-light is-outlined': takingPlaceInConsideration !== 2 && this.$store.state.isDarkTheme  }" @click="takingPlaceInConsideration = 2" ref="button-optimal")
            span {{$t(i18nPrefix + "takingPlaceInConsideration.form.optimal")}}

    div.column.is-half
      b-field(:label="$t(i18nPrefix + 'takingPlaceInConsideration.form.show_place')")
      div.block
        template(v-for="(value, index) in showPlace")
          b-switch(v-model="showPlace[index]" type="is-info") {{ index + 1 }}

  div.table-wrapper(style="overflow-y:auto;")
    table.table.is-bordered.is-striped.is-narrow.is-fullwidth(v-if="result !== null")
      thead
        tr
          th(rowspan=2)
            p {{$t("utils.graph.gb_level")}}
          th(rowspan=2)
            p {{$t("components.gb_investment.gb_investment.table.tfoot.level_cost")}}
          template(v-for="(value, index) in showPlace")
            th(colspan=3 v-show="showPlace[index]")
              p {{$t(i18nPrefix + "table.thead.th_place", { count: index + 1 })}}
        tr
          template(v-for="(value, index) in showPlace")
            th(v-show="showPlace[index]")
              p {{$t("utils.Rewards")}}
            th(v-show="showPlace[index]")
              p {{$t("utils.Cost")}}
            th(v-show="showPlace[index]")
              p {{$t(i18nPrefix + "table.thead.th_profit_loss")}}

      tbody
        tr(v-for="(line, index) in result.slice(from - 1, to)")
          td.has-text-right
            p {{$formatNumber(index + from - 1)}} → {{$formatNumber(index + from)}}
          td.has-text-right
            p {{$formatNumber(line.cost)}}

          template(v-for="(value, index) in showPlace")
            td.has-text-right(v-show="showPlace[index]")
              p(v-if="takingPlaceInConsideration === 2") {{$formatNumber(line.investment[index].reward) + " ("}}
                b-tooltip(:type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t('components.gb_investment.gb_investment.table.thead.expected_participation')" dashed) {{$formatNumber(line.investment[index].participation)}}
                | &nbsp;|&nbsp;
                b-tooltip(:type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t('components.gb_investment.gb_investment.table.thead.real_participation')" dashed) {{$formatNumber(line.investment[index].realParticipation)}}
                | )
              p(v-else) {{$formatNumber(line.investment[index].reward) + " (" + $formatNumber(line.investment[index].participation) + ")" }}
            td.has-text-right(v-show="showPlace[index]")
              p(v-if="takingPlaceInConsideration === 2") {{$formatNumber(line.investment[index].participation) + " ("}}
                b-tooltip(:type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t('components.gb_investment.gb_investment.table.thead.th3')" dashed) {{$formatNumber(line.investment[0].preparation)}}
                | )
              p(v-else) {{$formatNumber(line.investment[index].fp)}}
            td.has-text-right(v-show="showPlace[index]")
              p(v-if="line.investment[index].roi > 0")
                span.icon.is-medium.has-text-success(style="vertical-align: middle;")
                  i.fas.fa-arrow-up
                | {{$formatNumber(Math.abs(line.investment[index].roi))}}
              p(v-else-if="line.investment[index].roi < 0")
                span.icon.is-medium.has-text-danger(style="vertical-align: middle;")
                  i.fas.fa-arrow-down
                | {{$formatNumber(Math.abs(line.investment[index].roi))}}
              p(v-else)
                span.icon.is-medium(style="vertical-align: middle;")
                  i.fas.fa-exchange-alt

      tfoot
        tr
          th(colspan=2)
            p {{$t(i18nPrefix + "table.thead.th_profit_loss")}}
          template(v-for="(value, index) in showPlace")
            td.has-text-right(v-show="showPlace[index]" colspan=3)
              p(v-if="result.globalProfitLoss[index] > 0")
                span.icon.is-medium.has-text-success(style="vertical-align: middle;")
                  i.fas.fa-arrow-up
                | {{ $formatNumber(Math.abs(result.globalProfitLoss[index])) }}
              p(v-else-if="result.globalProfitLoss[index] < 0")
                span.icon.is-medium.has-text-danger(style="vertical-align: middle;")
                  i.fas.fa-arrow-down
                | {{ $formatNumber(Math.abs(result.globalProfitLoss[index])) }}
              p(v-else)
                span.icon.is-medium(style="vertical-align: middle;")
                  i.fas.fa-exchange-alt
