#donate
  p {{$t(i18nPrefix + 'donation_message')}}

  p(v-html="$t(i18nPrefix + 'donation_options')")

  div.has-text-centered(v-if="secure")
    script(src='https://donorbox.org/widget.js' paypalexpress='true')
    iframe(allowpaymentrequest='' frameborder='0' height='900px' name='donorbox' scrolling='no' seamless='seamless' src='https://donorbox.org/embed/foe-tools' style='max-width: 500px; min-width: 310px; max-height:none!important' width='100%')
