@import "~bulma/sass/utilities/_all";
@import "~shepherd.js/dist/css/shepherd";

.is-icon-2rem svg {
  height: 2rem !important;
  width: 2rem !important;
}

table .image {
  display: inline-block !important;
  margin: 0 !important;
}

table.trade .image {
  display: inline-block !important;
  margin: 0 0.5rem 0 0.5rem !important;
}

.media-content {
  overflow: hidden;
}

.b-radio.radio input[type=radio]:checked + .check {
  border-color: $info;
}

.b-radio.radio:hover input[type=radio] + .check {
  border-color: $info;
}

.b-radio.radio input[type=radio] + .check:before {
  background-color: $info;
}

main {
  @media screen and (max-width: $tablet - 1px) {
    section.section {
      padding: 0 !important;
    }
  }
}

// custom

.fixed {
  position: fixed;
  bottom: 0;
  width:100%;
  z-index: 10000;
}

a.navbar-item:hover, a.navbar-item.is-active, a.navbar-link:hover, a.navbar-link.is-active {
  color: $link;
}

.navbar-dropdown-custom-shadow {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1) !important;
}

.is-dark-blue {
  background-color: #16222e;
  color: #ecf0f1;
}

.is-dark-blue .title {
  color: $white-bis !important;
}

.is-dark-blue .subtitle {
  color: $white-ter !important;
}

.margin-top-one-em {
  margin-top: 1em !important;
}

.margin-top-two-em {
  margin-top: 2em !important;
}

.margin-right-one-em {
  margin-right: 1em !important;
}

@media screen and (max-width: $tablet - 1) {
  .is-margin-top-one-em-touch {
    margin-top: 1em !important;
  }
}

section.hero.is-dark-blue .subtitle a:hover {
  color: $info;
}

.content li + li {
  margin-top: 0;
}

.tabs li + li {
  margin-top: 0px !important;
}

.image-inherit {
  display: inherit;
}

.newYearNotification {
  font-size: 1.5rem;
}

.is-30xauto {
  height: auto;
  width: 30px;
}

.is-48xauto {
  height: auto;
  width: 48px;
}

.contributor-avatar {
  max-height: 48px;
}

.contributor-icons {
  height: 20px;
}

.contributor-media {
  height: 54px;
}

.scroll-to-top {
  position: fixed !important;
  z-index: 10;
  right: 16px;
  bottom: 16px;
}

// Bulma fix

@media screen and (min-width: $desktop) and (max-width: $widescreen - 1) {
  .navbar.is-fixed-top .navbar-menu, .navbar.is-fixed-top-touch .navbar-menu {
    overflow: inherit !important;
  }
}

/**
 * Colors by ages
 */

$border-bottom-width: 4px;
$padding-bottom: 10px;

$map: (
  "NoAge": #662211,
  "BronzeAge": #b78d13,
  "IronAge": #984420,
  "EarlyMiddleAges": #4e8144,
  "HighMiddleAges": #2f8e8e,
  "LateMiddleAges": #7f4285,
  "ColonialAge": #ce6404,
  "IndustrialAge": #a72926,
  "ProgressiveEra": #b6895b,
  "ModernEra": #465d88,
  "PostmodernEra": #8d9292,
  "ContemporaryEra": #ce654a,
  "Tomorrow": #22272c,
  "TheFuture": #8dc73f,
  "ArcticFuture": #e9f7f7,
  "OceanicFuture": #225a4b,
  "VirtualFuture": #551A8B,
  "SpaceAgeMars": #BB653D
);

@each $key, $color in $map {
  .#{$key}-header {
    border-bottom: $border-bottom-width solid $color;
    padding-bottom: $padding-bottom;
  }
}

table.table.has-table-cards {
  tbody, tfoot {
    tr {
      display: table;
      width: 100%;
      th {
        text-align: left !important;
      }
      td {
        text-align: right !important;
      }
    }
    tr.last-in-card:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

// shepherd

.shepherd-text {
  overflow: auto;
  max-height: 30vh;
  text-align: justify;
}

.shepherd-element .shepherd-arrow {
  border-width: 0;
  height: auto;
  width: auto;
}

.shepherd-element .shepherd-arrow:after {
  display: inline-block;
}

.shepherd-element.shepherd-element-attached-bottom.shepherd-element-attached-center .shepherd-arrow:after,
.shepherd-element.shepherd-pinned-top .shepherd-arrow:after {
  transform: rotate(270deg);
}

.shepherd-element.shepherd-element-attached-top.shepherd-element-attached-center .shepherd-arrow:after {
  transform: rotate(90deg);
}

.shepherd-element.shepherd-element-attached-middle.shepherd-element-attached-right .shepherd-arrow:after,
.shepherd-element.shepherd-pinned-left .shepherd-arrow:after {
  transform: rotate(180deg);
}

.is-margin-left-auto {
  margin-left: auto !important;
}

.tutorial-button {
  display: inline-block;
  text-align: center;
  background: linear-gradient(-139deg, #4d83ff, #5fdede);
  padding: 0.6rem;
  border-radius: 0.75em;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  font-size: 0.75rem;
  font-weight: bold;
}

.columns.form-short {
  margin-bottom: 0 !important;
}

.columns.form-short .column {
  padding-bottom: 0 !important;;
}

.donation {
  background: linear-gradient(to right, #fc6076 0%, #ff9a44 51%, #ff9a44 61%, #fc6076 100%);
  border-color: transparent !important;
  color: $white !important;
  font-weight: bold;
  background-size: 200% auto;
  transition: 0.5s;
}

.donation:hover {
  background-position: right center;
}
