b-field(:label="$t(i18nPrefix + 'label')" :label-for="id")
  b-autocomplete(
    v-model="name"
    :id="id"
    :open-on-focus="true"
    :data="filteredDataObj"
    field="text"
    @select="option => selected = option.value"
    @focus.prevent="onFocus($event)"
    expanded)
