b-field(:label="$t(i18nPrefix + 'label')" :label-for="id")
  b-autocomplete(
    v-model="name"
    :placeholder="$t('foe_data.gb.' + selected)"
    :id="id"
    :open-on-focus="true"
    :data="filteredDataObj"
    field="text"
    @select="onSelect($event)"
    @focus.prevent="onFocus($event)"
    expanded)
