b-field(:label="$t(i18nPrefix + 'label')" :label-for="id")
  b-select(v-model="gbList" :id="id" :name="id" expanded)
    optgroup(v-for="(age, i) in foeGBList" :label="$t('foe_data.age.' + age.key)")
      option(v-for="gb in age.gbs" :value="gb") {{$t('foe_data.gb.' + gb)}}
