b-field(:label-for="id")
  template(slot="label")
    .media
      span.media-content {{$t(i18nPrefix + 'label')}}
      div.media-right
        b-tooltip.is-hidden-touch(type='is-dark' :label="$t(i18nPrefix + 'info')" multilined)
          span.icon
            i.far.fa-question-circle
        b-tooltip.is-hidden-desktop(type='is-dark' :label="$t(i18nPrefix + 'info')" multilined position="is-left")
          span.icon
            i.far.fa-question-circle

  b-autocomplete.autocomplete(
    v-if="gbSelectModeDatalist === 'datalist'"
    v-model="name"
    :placeholder="$t('foe_data.gb.' + selected)"
    :id="id"
    :open-on-focus="true"
    :data="filteredDataObj"
    field="text"
    @select="onSelect($event)"
    @focus.prevent="onFocus($event)"
    expanded)

  b-select(v-else v-model="selected" :id="id" :name="id" expanded)
    optgroup(v-for="(age, i) in foeGBList" :label="$t('foe_data.age.' + age.key)")
      option(v-for="gb in age.gbs" :value="gb") {{$t('foe_data.gb.' + gb)}}
