div.field
  label.label {{label}}
  div.control
    div.buttons.has-addons(:id="id")
      span.button.button-yes(:class="{ 'is-success is-selected' : newValue, 'is-dark-light is-outlined': !newValue && this.$store.state.isDarkTheme }" @click="newValue = true" ref="button-yes")
        span.icon
          i.fas.fa-check
        span {{$t('utils.Yes')}}
      span.button.button-no(:class="{ 'is-danger is-selected' : !newValue, 'is-dark-light is-outlined': newValue && this.$store.state.isDarkTheme  }" @click="newValue = false" ref="button-no")
        span.icon
          i.fas.fa-times
        span {{$t('utils.No')}}
