div.content
  h3.title.is-3 {{$t(i18nPrefix + "hero.title")}} ({{$formatNumber(allContributorsrc.contributors.length)}})
  div.tile.is-ancestor(v-for="users in contributors")
    div.tile.is-parent(v-for="user in users")
      article.tile.is-child(v-if="user !== null")
        div.card
          div.card-content
            div.media.contributor-media
              div.media-left
                figure.image.is-48xauto(style="margin-left: 0em; margin-right: 0em;")
                  a(v-if="user.profile" :href="user.profile" target="_blank")
                    img.contributor-avatar(:src="user.avatar_url" :alt="user.login + ' avatar'")
                  template(v-else)
                    img.contributor-avatar(:src="user.avatar_url" :alt="user.login + ' avatar'")
              div.media-content
                p.title.is-4
                  a(v-if="user.profile" :href="user.profile" target="_blank") {{user.name}}
                  template(v-else) {{user.name}}
            div.content.contributor-icons
              b-tooltip(v-for="contribution in user.contributions" :key="contribution" :label="$t('contributions.' + contribution)" :type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'")
                span {{allContributorsrc.types[contribution].symbol}}


