div.content
  div.columns
    div.column.is-half
      div.field
        h3.title.is-3 {{$t('foe_data.gb.' + gb.key)}}
      div.field
        gb-list-select(:current="gb.key" @change="goTo($event)")
    div.column.is-half(v-show="canPermalink")
      div.field
        nuxt-link#permalink.level-right(:to="permaLink" exact)
          span.icon
            i.fas.fa-link
          | &nbsp;{{$t('utils.permalink')}}

  h4.title.is-4 {{$t($data.i18nPrefix + 'gb_investment.title')}}

  p {{$t($data.i18nPrefix + 'gb_investment.description.p1')}}

  div.columns
    div.column.is-half
      b-field(:label="$t(i18nPrefix + 'gb_investment.form.level', { level: levelNormalized, fromLevel: levelNormalized - 1, min: 1, max: maxLevel })" label-for="giLevel" :type="haveError('level')")
        numberinput#giLevel(controls-position="compact" :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" min="1" :max="maxLevel" v-model.number="level" name="level" autocomplete="off" :autofocus="canPermalink" expanded)
    div.column.is-half
      b-field(:label="$t(i18nPrefix + 'gb_investment.form.investor_percentage')" label-for="giInvestorPercentageGlobal" :type="haveError('investorPercentageGlobal')")
        numberinput#giInvestorPercentageGlobal(controls-position="compact" :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" min="0" step="0.1" v-model.number="investorPercentageGlobal" name="investorPercentageGlobal" autocomplete="off" expanded)

  div.columns(v-if="result !== null")
    div.column.is-half
      b-field(:label="$t(i18nPrefix + 'gb_investment.form.owner_investment', { max: result.cost - investorParticipationNormalizedSum })" label-for="giOwnerInvestment" :type="haveError('ownerInvestment')")
        numberinput#giOwnerInvestment(controls-position="compact" :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" min=0 :max="result.cost - investorParticipationNormalizedSum" v-model.number="ownerInvestment" name="ownerInvestment" autocomplete="off" expanded)
    div.column.is-half
      b-field(:label="$t('components.secure_position.block_place.your_arc_bonus')" label-for="giYourArcBonus" :type="haveError('yourArcBonus')")
        numberinput#giYourArcBonus(controls-position="compact" :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" min="0" v-model.number="yourArcBonus" step="0.1" name="your-arc-bonus" autocomplete="off" expanded)

  div.columns
    // Investor participation
    div.column.is-half
      b-field(:label="$t(i18nPrefix + 'gb_investment.form.add_investors', { min: 1, max: maxInvestment })" label-for="giAddInvestors")
        b-field(:type="haveError('addInvestors')")
          b-input#giAddInvestors(type="number" min="1" :max="maxInvestment" v-model.number="addInvestors" @keyup.native.enter="addInvestor" name="addInvestors" autocomplete="off" expanded :disabled="maxInvestment <= 0" @click.native="haveReadTipAboutAddInvestor")
          p.control
            button.button.is-info(:title="$t('utils.Add')" @click="addInvestor" :disabled="maxInvestment <= 0")
              span.icon
                i.fas.fa-plus
              | &nbsp;&nbsp;{{$t('utils.Add')}}
    div.column.is-half
      yes-no(v-model="showSnipe" :label="$t(i18nPrefix + 'gb_investment.form.show_snipe')")

  div.columns(v-if="result !== null")
    div.column(v-if="investorParticipation.length > 0")
      b-field(:label="$t(i18nPrefix + 'gb_investment.form.investors_list')")
      b-field(grouped group-multiline)
        div.control(v-for="(investor,index) in investorParticipation")
          b-tag(:type="isNaN(investor.value) ? 'is-danger' : 'is-primary'" attached closable @close="removeInvestor(index)" size="is-medium") {{investor.value}}

  div.columns.is-hidden-desktop.is-hidden-widescreen
      div.column.is-half
        yes-no(v-model="displayTableCard" :label="$t(i18nPrefix + 'gb_investment.form.display_card')")

  div.table-wrapper(v-if="result !== null")
    table.table.is-bordered.is-striped.is-narrow.is-fullwidth(:class="displayTableCard ? 'is-hidden-touch' : ''")
      thead
        tr
          th.has-text-centered(:colspan="nbColumns")
            p {{$t($data.i18nPrefix + 'gb_investment.table.title', {gb_key: 'foe_data.gb.' + gb.key, level: result.level, fromLevel: (result.level - 1)})}}
        tr(v-if="investorParticipationNormalizedSum || ownerInvestmentNormalized")
          th.has-text-centered(:colspan="nbColumns")
            progress.progress.is-success(:value="investorParticipationNormalizedSum + ownerInvestmentNormalized" :max="result.cost" style="margin-bottom: 0;")
            p {{$formatNumber(investorParticipationNormalizedSum + ownerInvestmentNormalized) + '/' + $formatNumber(result.cost)}} ({{$formatNumber(result.cost - (investorParticipationNormalizedSum + ownerInvestmentNormalized))}})
        tr
          th {{$t($data.i18nPrefix + 'gb_investment.table.thead.th1')}}
          th {{$t($data.i18nPrefix + 'gb_investment.table.thead.th2')}}
          th {{$t($data.i18nPrefix + 'gb_investment.table.thead.th3')}}
          th {{$t($data.i18nPrefix + 'gb_investment.table.thead.th4')}}
          th(v-if="investorParticipationNormalizedSum") {{$t($data.i18nPrefix + 'gb_investment.table.thead.fp_already_putin')}}
          th(v-show="showSnipe") {{$t($data.i18nPrefix + 'gb_investment.table.thead.spot_snipe')}}
          th {{$t($data.i18nPrefix + 'gb_investment.table.thead.th5')}}
          th(v-show="investorParticipationNormalizedSum") {{$t($data.i18nPrefix + 'gb_investment.table.thead.is_sniper')}}
          th(width="100px") {{$t($data.i18nPrefix + 'gb_investment.table.thead.th6')}}
      tbody
        tr(v-for="(place, i) in result.investment")
          // Place
          td.has-text-right {{$formatNumber(i + 1)}}
          // Default reward
          td.has-text-right {{$formatNumber(place.reward)}}
          // Owner preparation
          td.has-text-right
            p(v-if="(place.preparation > 0) && (ownerInvestmentNormalized > 0)") {{$formatNumber(place.preparation)}} (
              template(v-if="place.preparation - ownerInvestmentNormalized > 0")
                b-tooltip(:type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.tooltip_owner_investment')" dashed)
                  span.has-text-danger {{$formatNumber(place.preparation - ownerInvestmentNormalized)}}
              template(v-else)
                span.has-text-success {{$t('utils.Secured')}}
              | )
            p(v-else) {{$formatNumber(place.preparation)}}
          // Reward with arc bonus
          td.has-text-right
            p {{$formatNumber(place.expectedParticipation)}}
          // Current participation
          td.has-text-right(v-if="investorParticipationNormalizedSum" width="150px")
            template(v-if="place.isInvestorParticipation")
              p {{$formatNumber(place.participation)}} (
                template(v-if="place.roi > 0")
                  span.icon.is-small.has-text-success(style="vertical-align: middle;")
                    i.fas.fa-arrow-up
                    | &nbsp;
                  b-tooltip(:type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.profit', { count: Math.abs(place.roi) })" dashed) {{$formatNumber(Math.abs(place.roi))}}

                template(v-else-if="place.roi < 0")
                  span.icon.is-small.has-text-danger(style="vertical-align: middle;")
                    i.fas.fa-arrow-down
                    | &nbsp;
                  b-tooltip(:type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.loss', { count: Math.abs(place.roi) })" dashed) {{$formatNumber(Math.abs(place.roi))}}

                b-tooltip(v-else :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.neutral')" dashed)
                  span.icon.is-small(style="vertical-align: middle;")
                    i.fas.fa-exchange-alt
                | )
            template(v-else)
              p 0
                template(v-if="place.participation > 0") &nbsp;(
                  b-tooltip(:type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.tooltip_expected_investment')" dashed) {{$formatNumber(place.participation)}}
                  | )
          // Spot / Snipe
          td.has-text-right(v-show="showSnipe" width="110px")
            template(v-if="place.snipe.fp === -1")
              span.icon.is-small(style="vertical-align: middle;")
                i.fas.fa-lock

            p.snipe.fp(v-else-if="place.snipe.fp > 0") {{$formatNumber(place.snipe.fp)}} (
              template(v-if="place.snipe.roi > 0")
                span.icon.is-small.has-text-success(style="vertical-align: middle;")
                  i.fas.fa-arrow-up
                  | &nbsp;
                b-tooltip(:type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.profit', { count: Math.abs(place.roi) })" dashed) {{$formatNumber(Math.abs(place.snipe.roi))}}

              template(v-else-if="place.snipe.roi < 0")
                span.icon.is-small.has-text-danger(style="vertical-align: middle;")
                  i.fas.fa-arrow-down
                  | &nbsp;
                b-tooltip(:type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.loss', { count: Math.abs(place.roi) })" dashed) {{$formatNumber(Math.abs(place.snipe.roi))}}

              b-tooltip(v-else :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.neutral')" dashed)
                span.icon.is-small(style="vertical-align: middle;")
                  i.fas.fa-exchange-alt
              | )
          // Custom arc bonus
          td
            b-field(:type="haveError('investorPercentageCustom_' + i)")
              b-input(type="number" min="0" step="0.1" v-model.number="investorPercentageCustom[i]" :name="'investorPercentageCustom_' + i" autocomplete="off")
          // Potential sniper switch
          td(v-show="investorParticipation.length > 0")
            template(v-if="place.defaultParticipationIndex >= 0")
              b-switch(:value="investorParticipation[place.defaultParticipationIndex].isPotentialSniper" type="is-info" @input="changeIsPotentialSniper(place.defaultParticipationIndex, $event)") {{investorParticipation[place.defaultParticipationIndex].isPotentialSniper ? $t('utils.Yes') : $t('utils.No')}}
          // Place free
          td
            b-switch(:value="placeFree[i].state" type="is-info" @input="changePlaceFree(i, $event)") {{placeFree[i].state ? $t('utils.Yes') : $t('utils.No')}}

        template(v-if="result.otherInvestment.length && showExtraInvestors")
          tr(v-for="(place, i) in result.otherInvestment")
            // Place
            td.has-text-right {{$formatNumber(i + result.investment.length + 1)}}
            // Skip useless columns
            td(colspan=3)
            // Current participation
            td.has-text-right
              template(v-if="place.isInvestorParticipation")
                p {{$formatNumber(place.participation)}}
              template(v-else)
                p 0
                  template(v-if="place.participation > 0") &nbsp;(
                    b-tooltip(:type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.tooltip_expected_investment')" dashed) {{$formatNumber(place.participation)}}
                    | )
            td(colspan=3)

      tfoot
        tr(v-if="result.otherInvestment.length")
          th.has-text-centered(:colspan="nbColumns")
            p.control.has-text-centered
              button.button.is-info(v-if="!showExtraInvestors" @click="showExtraInvestors = true")
                span.icon
                  i.fas.fa-eye
                | &nbsp;&nbsp; {{$t(i18nPrefix + 'gb_investment.table.tbody.button_show_extra_investor', { count: result.otherInvestment.length })}}

              button.button.is-info(v-else @click="showExtraInvestors = false")
                span.icon
                  i.fas.fa-eye-slash
                | &nbsp;&nbsp; {{$t(i18nPrefix + 'gb_investment.table.tbody.button_hide_extra_investor', { count: result.otherInvestment.length })}}
        tr
          th(:colspan="nbColumns - 1") {{$t($data.i18nPrefix + 'gb_investment.table.tfoot.total_preparation')}}
          td
            p.level-right {{$formatNumber(result.totalPreparations)}}
        tr
          th(:colspan="nbColumns - 1") {{$t($data.i18nPrefix + 'gb_investment.table.tfoot.level_cost')}}
          td
            p.level-right {{$formatNumber(result.cost)}}

  //////////////////////////
  // Mobile table version //
  //////////////////////////

  div.is-hidden-desktop.is-hidden-widescreen(v-if="result !== null && displayTableCard")
    div.table-wrapper
      table.table.has-table-cards
        thead
          tr
            th.has-text-centered(:colspan=2)
              p {{$t($data.i18nPrefix + 'gb_investment.table.title', {gb_key: 'foe_data.gb.' + gb.key, level: result.level, fromLevel: (result.level - 1)})}}
          tr(v-if="investorParticipationNormalizedSum || ownerInvestmentNormalized")
            th.has-text-centered(:colspan=2)
              progress.progress.is-success(:value="investorParticipationNormalizedSum + ownerInvestmentNormalized" :max="result.cost" style="margin-bottom: 0;")
              p {{$formatNumber(investorParticipationNormalizedSum + ownerInvestmentNormalized) + '/' + $formatNumber(result.cost)}} ({{$formatNumber(result.cost - (investorParticipationNormalizedSum + ownerInvestmentNormalized))}})
        // Table content
        tbody
          template(v-for="(props, index) in result.investment.concat(showExtraInvestors ? result.otherInvestment : [])")
            // Place
            tr
              th {{ $t(i18nPrefix + 'gb_investment.table.thead.th1') }}
              td.has-text-right {{ $formatNumber(index + 1) }}
            // Default reward
            tr(v-if="index < result.investment.length")
              th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.th2') }}
              td.has-text-right {{ $formatNumber(props.reward) }}
            // Owner preparation
            tr(v-if="index < result.investment.length")
              th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.th3') }}
              td.has-text-right {{ $formatNumber(props.preparation) }}
            // Reward with arc bonus
            tr(v-if="index < result.investment.length")
              th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.th4') }}
              td.has-text-right {{ $formatNumber(props.expectedParticipation) }}
            // Current participation
            tr(v-if="investorParticipationNormalizedSum" :class="index >= result.investment.length ? 'last-in-card' : ''")
              th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.fp_already_putin') }}
              td(v-if="props.isInvestorParticipation")
                p {{$formatNumber(props.participation)}}
              td(v-else)
                p 0
                  template(v-if="props.participation > 0") &nbsp;(
                    b-tooltip(position="is-left" :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.tooltip_expected_investment')" dashed) {{$formatNumber(props.participation)}}
                    | )
            // Spot / Snipe
            tr(v-if="showSnipe && index < result.investment.length")
              th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.spot_snipe') }}
              td
                template(v-if="props.snipe.fp === -1")
                  span.icon.is-small(style="vertical-align: middle;")
                    i.fas.fa-lock

                p.snipe.fp(v-else-if="props.snipe.fp > 0") {{$formatNumber(props.snipe.fp)}} (
                  template(v-if="props.snipe.roi > 0")
                    span.icon.is-small.has-text-success(style="vertical-align: middle;")
                      i.fas.fa-arrow-up
                      | &nbsp;
                    b-tooltip(position="is-left" :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.profit', { count: Math.abs(props.roi) })" dashed) {{$formatNumber(Math.abs(props.snipe.roi))}}

                  template(v-else-if="props.snipe.roi < 0")
                    span.icon.is-small.has-text-danger(style="vertical-align: middle;")
                      i.fas.fa-arrow-down
                      | &nbsp;
                    b-tooltip(position="is-left" :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.loss', { count: Math.abs(props.roi) })" dashed) {{$formatNumber(Math.abs(props.snipe.roi))}}

                  b-tooltip(v-else position="is-left" :type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.neutral')" dashed)
                    span.icon.is-small(style="vertical-align: middle;")
                      i.fas.fa-exchange-alt
                  | )
            // Custom arc bonus
            tr(v-if="index < result.investment.length")
              th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.th5') }}
              td
                b-field(:type="haveError('investorPercentageCustom_' + index)")
                  b-input(type="number" min="0" step="0.1" v-model.number="investorPercentageCustom[index]" :name="'investorPercentageCustom_' + index" autocomplete="off")
            // Potential sniper switch
            tr(v-show="investorParticipation.length > 0")
              template(v-if="props.defaultParticipationIndex >= 0")
                th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.is_sniper') }}
                td
                  b-switch(:value="investorParticipation[props.defaultParticipationIndex].isPotentialSniper" type="is-info" @input="changeIsPotentialSniper(props.defaultParticipationIndex, $event)") {{investorParticipation[props.defaultParticipationIndex].isPotentialSniper ? $t('utils.Yes') : $t('utils.No')}}
            // Place free
            tr.last-in-card(v-if="index < result.investment.length")
              th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.th6') }}
              td
                b-switch(:value="placeFree[index].state" type="is-info" @input="changePlaceFree(index, $event)") {{placeFree[index].state ? $t('utils.Yes') : $t('utils.No')}}

        tfoot
          tr
            th(v-show="result.otherInvestment.length" :colspan="nbColumns").has-text-centered
              p.control.has-text-centered
                button.button.is-info(v-if="!showExtraInvestors" @click="showExtraInvestors = true")
                  span.icon
                    i.fas.fa-eye
                  | &nbsp;&nbsp; {{$t(i18nPrefix + 'gb_investment.table.tbody.button_show_extra_investor', { count: result.otherInvestment.length })}}

                button.button.is-info(v-else @click="showExtraInvestors = false")
                  span.icon
                    i.fas.fa-eye-slash
                  | &nbsp;&nbsp; {{$t(i18nPrefix + 'gb_investment.table.tbody.button_hide_extra_investor', { count: result.otherInvestment.length })}}
          tr
            th {{$t($data.i18nPrefix + 'gb_investment.table.tfoot.total_preparation')}}
            td
              p.level-right {{$formatNumber(result.totalPreparations)}}
          tr
            th {{$t($data.i18nPrefix + 'gb_investment.table.tfoot.level_cost')}}
            td
              p.level-right {{$formatNumber(result.cost)}}

  h4.title.is-4.margin-top-one-em(v-if="result !== null") {{$t($data.i18nPrefix + 'promotion.title')}}

  div.columns
    div.column.is-half
      b-field(:label="$t('utils.Prefix')" label-for="giPrefix")
        b-input#giPrefix(type="text" v-model.trim="prefix" name="prefix" autocomplete="off" :placeholder="$t($data.i18nPrefix + 'promotion.prefix_placeholder')")
    div.column.is-half
      b-field(:label="$t('utils.Suffix')" label-for="giSuffix")
        b-input#giSuffix(type="text" v-model.trim="suffix" name="suffix" autocomplete="off" :placeholder="$t($data.i18nPrefix + 'promotion.suffix_placeholder')")

  div.columns
    div.column.is-half
      div.columns
        div.column.is-half
          yes-no(v-model="displayGbName" :label="$t($data.i18nPrefix + 'gb_investment.display_gb_name')")
        div.column.is-half(v-if="displayGbName")
          yes-no(v-model="shortName" :label="$t($data.i18nPrefix + 'gb_investment.use_short_name')")
    div.column.is-half
      yes-no(v-model="showLevel" :label="$t($data.i18nPrefix + 'gb_investment.show_level')")

  div(v-if="result !== null")
    b-field(v-for="(value, i) in promotion" :key="i")
      b-input(type="text" :value="value.message" readonly expanded)
      p.control
        b-tooltip(:type="$store.state.isDarkTheme ? 'is-light' : 'is-dark'" :label="$t('utils.Copyed')" :active="value.active" always)
          button.button.copy(v-clipboard="value.message" @success="successCopy(i)" :title="$t('utils.Copy')")
            span.icon
              i.far.fa-copy
            | &nbsp;&nbsp;{{$t('utils.Copy')}}

  div(v-if="result" style="margin-top: 2rem;")
    secure-position(:levelData="result" ns="gbi" :customYourArcBonus="getCustomArcBonus" :canCustomYourArcBonus="true" @customYourArcBonus="yourArcBonus = $event")
